@import "tailwindcss";

/* Estilos para navegadores basados en Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra vertical */
  height: 10px; /* Alto de la barra horizontal */
}

::-webkit-scrollbar-track {
  background: #FDFBF7; /* Fondo crema de la tienda */
}

::-webkit-scrollbar-thumb {
  background: #D4AF37; /* Dorado principal: #D4AF37 */
  border-radius: 10px;
  /* El borde crea un efecto de "separación" para que la barra no toque los bordes */
  border: 3px solid #FDFBF7; 
}

::-webkit-scrollbar-thumb:hover {
  background: #996515; /* Un dorado más oscuro para el hover */
}

/* Estilos para Firefox */
* {
  /* scrollbar-color: [Color del pulgar] [Color del fondo] */
  scrollbar-width: thin;
  scrollbar-color: #D4AF37 #FDFBF7;
}

button{
  cursor: pointer;
}

button:active{
  scale: 0.9;
}